{% extends "base.html" %}

{% block content %}
    <h1>Flashcards</h1>
    {% if not completed %}
        <div class="flashcard">
            <p>{{ flash_words.0.english_word }}</p>
            <details>
                <summary>Reveal Answer</summary>
                <p>{{ flash_words.0.french_translation }}</p>
            </details><br/>
            <button onclick="nextword()">next</button>
        </div>
    {% endif %}

    <script>
        var flashWords = [
            {% for item in vocabulary_items %}
                { english_word: "{{ item.english_word }}", french_translation: "{{ item.french_translation }}" }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        var currentCardIndex = 0;

        function nextword() {
            if (currentCardIndex < flashWords.length - 1) {
                currentCardIndex++;
                displayFlashcard(currentCardIndex);

                var details = document.querySelector('details');
                details.removeAttribute('open');
                console.log(flashWords.length - 1)
            } else {
                Completion();
            }
        }

        function displayFlashcard(index) {
            var flashcard = document.querySelector('.flashcard');
            flashcard.querySelector('p').textContent = flashWords[index].english_word;
            flashcard.querySelector('details p').textContent = flashWords[index].french_translation;
        }

        function Completion() {
            var flashcard = document.querySelector('.flashcard');
            flashcard.innerHTML = '<p><strong>Completed</strong></p>';
        }
        displayFlashcard(currentCardIndex);
    </script>
{% endblock %}
